<!DOCTYPE html>
<html>
<head>
    <title>Chelsea, MA - Who Are My Elected Officials?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h1 style="text-align:center;margin-bottom:1.2em;">Chelsea, MA: Who Are My Elected Officials?</h1>
	<form method="post" class="address-form">
        <label for="address">Enter your address:</label>
        <input type="text" id="address" name="address" required>
        <button type="submit">Search</button>
    </form>
    {% if entered_address %}
        <div style="margin-bottom: 10px; font-size: 1.1em;">
            <b>Address entered:</b> {{ entered_address }}
        </div>
    {% endif %}
    {% if info %}
        <div class="blue-box">
            <div class="info-grid">
                <div class="info-label">On Election Day, you vote at: {{ info['Polling Location'] }}.<br /><small>This is called your "polling location."</small></div>
                <div class="info-label">You live in district {{ info['District'] }}.<br /><small>You also live in Ward {{ info['Ward'] }}, Precinct {{ info['Precinct'] }}.</small></div>              
            </div>
        </div>
        {% if district_data %}
        <div class="officials-section">
            <div class="rep-section-header">District City Councilor</div>
            <div class="representatives-grid">
                <div class="rep-block rep-block-flex">
                    <div class="rep-block-info">
                        <span class="label">{{ district_data['city_councilor']['name'] }}</span><br>
                        District {{ info['District'] }} City Councilor<br>
                        {{ district_data['city_councilor']['phone'] }}<br>
                        <a href="mailto:{{ district_data['city_councilor']['email'] }}">{{ district_data['city_councilor']['email'] }}</a><br>
                        {{ district_data['city_councilor']['address'] }}<br>
                        {% if district_data['city_councilor'].get('social_media') %}
                            {% for platform, link in district_data['city_councilor']['social_media'].items() %}
                                <a href="{{ link }}" target="_blank">{{ platform|capitalize }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% set img_name = district_data['city_councilor']['name'].split()[0]|lower %}
                    {% if img_name in available_images %}
                        <img class="rep-block-img" src="{{ url_for('static', filename='images/' + img_name + '.jpg') }}" alt="{{ district_data['city_councilor']['name'] }}">
                    {% endif %}
                </div>
            </div>
            {% if at_large_data and at_large_data.get('city_councilors') %}
                <div class="rep-section-header">At-Large City Councilors</div>
                <div class="representatives-grid">
                    {% for councilor in at_large_data['city_councilors'] %}
                        <div class="rep-block rep-block-flex">
                            <div class="rep-block-info">
                                <span class="label">{{ councilor['name'] }}</span><br>
                                At-Large City Councilor<br>
                                {{ councilor['phone'] }}<br>
                                <a href="mailto:{{ councilor['email'] }}">{{ councilor['email'] }}</a><br>
                                {{ councilor['address'] }}<br>
                                {% if councilor.get('social_media') %}
                                    {% for platform, link in councilor['social_media'].items() %}
                                        <a href="{{ link }}" target="_blank">{{ platform|capitalize }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {% set img_name = councilor['name'].split()[0]|lower %}
                            {% if img_name in available_images %}
                                <img class="rep-block-img" src="{{ url_for('static', filename='images/' + img_name + '.jpg') }}" alt="{{ councilor['name'] }}">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
                        <p class="collapsible" style="margin:26px 0 13px 0; font-weight: bold;">&#9656; What does the City Council do?</h2>
                        <div class="content">
						<p>The City Council has the following responsibilities:</p>
						<ul>
							<li>Set policy (called <a href="https://library.municode.com/ma/chelsea/ordinances/code_of_ordinances">"ordinances")</a> for the City of Chelsea</li>
							<li>Approve <a href="https://www.chelseama.gov/departments/auditor/financial_documents___reports.php">the budget for the City of Chelsea</a></li>
							<li>Hire and evaluate Chelsea's City Manager (who runs Chelsea City Hall and oversees all city operations)<>/li>
						</ul>
						<p>Another important job they have is to advocate for the community. If a resident has a question or a problem related to the city, the resident's Councilor can bring it up to the City Manager, or give the resident advice.</p>
        				</div>
        </div>
	

        <div class="officials-section">
            <div class="rep-section-header">District School Committee Member</div>
            <div class="representatives-grid">
                <div class="rep-block rep-block-flex">
                    <div class="rep-block-info">
                        <span class="label">{{ district_data['school_committee']['name'] }}</span><br>
                        District {{ info['District'] }} School Committee member<br>
                        {{ district_data['school_committee']['phone'] }}<br>
                        <a href="mailto:{{ district_data['school_committee']['email'] }}">{{ district_data['school_committee']['email'] }}</a><br>
                        {{ district_data['school_committee']['address'] }}<br>
                        {% if district_data['school_committee'].get('social_media') %}
                            {% for platform, link in district_data['school_committee']['social_media'].items() %}
                                <a href="{{ link }}" target="_blank">{{ platform|capitalize }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% set img_name = district_data['school_committee']['name'].split()[0]|lower %}
                    {% if img_name in available_images %}
                        <img class="rep-block-img" src="{{ url_for('static', filename='images/' + img_name + '.jpg') }}" alt="{{ district_data['school_committee']['name'] }}">
                    {% endif %}
                </div>
            </div>
            {% if at_large_data and at_large_data.get('school_committee') %}
                <div class="rep-section-header">At-Large School Committee Member{% if at_large_data['school_committee']|length > 1 %}s{% endif %}</div>
                <div class="representatives-grid">
                    {% for committee in at_large_data['school_committee'] %}
                        <div class="rep-block rep-block-flex">
                            <div class="rep-block-info">
                                <span class="label">{{ committee['name'] }}</span><br>
                                At-Large School Committee member<br>
                                {{ committee['phone'] }}<br>
                                <a href="mailto:{{ committee['email'] }}">{{ committee['email'] }}</a><br>
                                {{ committee['address'] }}<br>
                                {% if committee.get('social_media') %}
                                    {% for platform, link in committee['social_media'].items() %}
                                        <a href="{{ link }}" target="_blank">{{ platform|capitalize }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {% set img_name = committee['name'].split()[0]|lower %}
                            {% if img_name in available_images %}
                                <img class="rep-block-img" src="{{ url_for('static', filename='images/' + img_name + '.jpg') }}" alt="{{ committee['name'] }}">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <p class="collapsible" style="margin:26px 0 13px 0; font-weight: bold;">&#9656; What does the School Committee do?</h2>
				<div class="content">
				<p>According to Massachusetts law, School Committee has 3 jobs:</p>
				<ul>
					<li>Set <a href="https://www.chelseaschools.com/Page/2587">policy</a> for Chelsea Public Schools</li>
					<li>Approve the Chelsea Public Schools <a href="https://www.chelseaschools.com/budget">budget</a></li>
					<li>Hire and evaluate the Superintendent of Chelsea Public Schools (who is, in turn, the supervisor of the principals and other administrators)</li>
				</ul>
				<p>Another important job they have is to advocate for the community. If a resident has a question or a problem related to the school district, the resident's School Committee member can bring it up to the Superintendent, or give the resident advice.</p>
           		</div>
            {% endif %}
        </div>
        {% endif %}
    {% elif info is not none %}
        <div class="blue-box error-box">
            <p><b>That address doesn't seem to be in our database. Try another address.</b></p>
        </div>
    {% endif %}

</div>
<div class="container">
     <div class="officials-section">
     
     	<h2 style="font-weight: bold;">Questions and Answers about Chelsea Elected Officials and Elections</h2>

     	<div class="blue-box-faq">
     	<h3 class="collapsible">What does "At Large" mean?</h3>
     	<div class="content">
     	<p>An "At Large" position serves and represents the entire city of Chelsea. All Chelsea voters can vote in "At Large" races.</p>
		<p>On the other hand, a district councilor or a district School Committee member is mainly responsible for serving the residents in their district. Only people who live in the district can vote to elect the councilor or member who serves that district.</p>
		</div>  
		</div>    
		
		<div class="blue-box-faq">
     	<h3 class="collapsible">How many people are on the Chelsea City Council and the Chelsea School Committee?</h3>
     	<div class="content">
     	<p>The Chelsea City Council contains 11 councilors. Each district elects 1 councilor for their district. There are 8 districts in Chelsea, so there are 8 district councilors. The whole city also elects 3 "At Large" councilors. <a href="https://www.chelseama.gov/government/city_council/index.php">They are all listed here.</a></p>
		<p>The Chelsea School Committee contains 9 members. Each district votes to elect 1 School Committee member for their district. Since there are 8 districts in Chelsea, there are 8 district School Committee members. The whole city also votes to elect 1 "At Large" School Committee member. <a href="https://www.chelseaschools.com/Page/1381">They are all listed here.</a></p>
		</div> 
		</div>     

     	<div class="blue-box-faq">
     	<h3 class="collapsible">Why do we have districts?</h3>
		<div class="content">
		<p>Chelsea is divided into 8 districts of equal population. Chelsea has district elected officials so that different areas of the city are represented on the City Council and School Committee.</p>
		<p>If all elected officials were voted on by the whole city (that is, if all the positions were "At Large"), there is a possibility that the elected officials would all tend to be from only one neighborhood. According to US law, it can be problematic when this results in certain communities, ethnicities, or races being underrepresented in the City Council or School Committee.</p> 
		<p>Before 2003, all of the Chelsea School Committee positions were "At Large" positions. In 2003, <a href="https://www.justice.gov/crt/voting-rights-act-cases-14">a federal court determined</a> that this setup was a violation of the Voting Rights Act of 1964, because it made it too difficult for Latino residents to get elected to School Committee. </p>
		<p>In short, Chelsea elects most councilors and School Committee members by district to avoid discriminating against people of color.</p>
		</div>  
		</div>    
		
     	<div class="blue-box-faq">
     	<h3 class="collapsible">What are wards and precincts? </h3>
     	<div class="content">
     	<p>The average person in Chelsea doesn't really have to think about wards and precincts. All that’s important to know is which district they are in.
		<p>Cities and towns in Massachusetts are divided into wards, each of which has an equal number of residents, to help the election officials manage elections. Cities also divide their wards into precincts, and everyone in one precinct votes in the same polling location.</p>
		<p>In Chelsea, the city is divided into 4 wards, and each ward has 4 precincts. Each district contains two precincts. <a href="https://chelseamass.maps.arcgis.com/apps/instant/basic/index.html?appid=2f9a6463086843cb887695182c9ab66d">This online map</a> shows the wards, districts, and precincts.</p>
		<p>Every precinct in Chelsea contains about 2,500 people (and this includes voters, non-voters, citizens, non-citizens, children, and adults alike).</p>
     	</div> 
     	</div>     
		
     	<div class="blue-box-faq">
     	<h3 class="collapsible">Why do our districts, wards, and precincts change? When do they change? </h3>
		<div class="content">
		<p>Every 10 years (2010, 2020, 2030, etc.), the US Census is completed. States and cities need to update their district/precinct lines every 10 years to make sure that each one contains an equal number of people according to the new Census data.</p>
		<p>The Chelsea City Council decides where the new lines will be drawn. The Chelsea City Council voted to approve our current map in November 2021. With this map, each district contains about 5,000 residents. </p>
		<p>The next time that the district/ward/precinct lines will change will be after the November city election in 2031, so they’ll come into effect for the 2033 city election.</p>
		</div>  
		</div>    	

     	<div class="blue-box-faq">
     	<h3 class="collapsible">How and when can I register to vote? </h3>
		<div class="content">
		<p>You can register to vote at any time throughout the year <a href="https://www.sec.state.ma.us/ovr/">here on the Secretary of State website</a>. </p>
		<p>If you don't have a Massachusetts driver's license, you have to register by <a href="https://www.sec.state.ma.us/divisions/elections/download/voter-registration-forms/voter-registration_English.pdf">filling out this form on paper</a> and bringing/mailing it to Chelsea City Hall.</p>
		<p>To vote in a certain election, you must register at least 10 days before Election Day.</p>
		</div>    
		</div>  	

     	<div class="blue-box-faq">
     	<h3 class="collapsible">When and where do I vote in city elections? Can I vote by mail/absentee? What about early voting?</h3>
		<div class="content">
		<p>City elections happen in odd-numbered years (2021, 2023, 2025...). Election Day is on a Tuesday in early November.</p>
		<p>There are generally three ways to vote.</p>
		<ol>
			<li>Vote on Election Day at your polling location.<br /><br />
			If you live in District 1, your polling location is the Fire Station; District 2 and 3 vote at St. Rose School; and Districts 4 through 8 vote at the Williams School.<br /><br /></li>
			<li>Vote by mail.<br /><br />
			You need to <a href="https://www.sec.state.ma.us/MailInRequestWeb/MailInBallot.aspx">fill out this online form ahead of time</a> to let the City Hall know they need to mail you your ballot. You can also <a href="https://www.sec.state.ma.us/divisions/elections/download/vote-by-mail-applications/vote-by-mail-paper-application-2023.pdf">fill out the form on paper</a> and mail/bring it to Chelsea City Hall.
			<br /><br />Vote by mail applications are due about one week before Election Day.<br /><br /></li>
			<li>Vote early at City Hall.<br /><br />
			Early voting usually starts roughly 10 days before Election Day, and usually ends the Friday before Election Day.</li>
		</ol>
		</div>  
		</div>  	
		
		<div class="blue-box-faq">
     	<h3 class="collapsible">What is a preliminary election? </h3>
		<div class="content">
		<p>When there are 3 or more candidates for a position, Chelsea holds a preliminary election in September,* and the top 2 vote-getters then face off in the general election in November.</p>
		<p>It's slightly different for Chelsea City Council At-Large. Because there are 3 At Large City Council seats, a preliminary election is held when there are 7 or more At Large candidates. Then, the top 6 vote-getters compete again in the November general election.</p>
		<p>There are generally three ways to vote in a Preliminary Election, if there is one.</p>
		<ol>
			<li>Vote on Preliminary Election Day at your polling location.<br /><br />
			If you live in District 1, your polling location is the Fire Station; District 2 and 3 vote at St. Rose School; and Districts 4 through 8 vote at the Williams School.<br /><br /></li>
			<li>Vote by mail.<br /><br />
			You need to <a href="https://www.sec.state.ma.us/MailInRequestWeb/MailInBallot.aspx">fill out this online form ahead of time</a> to let the City Hall know they need to mail you your ballot. You can also <a href="https://www.sec.state.ma.us/divisions/elections/download/vote-by-mail-applications/vote-by-mail-paper-application-2023.pdf">fill out the form on paper</a> and mail/bring it to Chelsea City Hall. 
			<br /><br />Vote by mail applications are due about one week before the day of the Preliminary Election.<br /><br /></li>
			<li>Vote early at City Hall.<br /><br />
			Early voting usually starts roughly 10 days before Preliminary Election Day, and usually ends the Friday before Election Day.</li>
		</ol>
		</div>  
		</div>

     	<div class="blue-box-faq">
     	<h3 class="collapsible">What is a special election? </h3>
		<div class="content">
		<p>A special election is an election that is called at an unusual time of the year, rather than the normal Election Day.</p>
		<p>They're not common for city elections. Sometimes they happen for state elections when a State Representative or Senator resigns at an unusual time of the year. But if a Chelsea City Councilor or School Committee member resigns, their replacement is appointed by the other elected officials.</p>
		<p>The only reason we would have a city-level special election in Chelsea is to vote on a question, called a referendum or a ballot question. For example, <a href="https://chelsearecord.com/2022/01/27/chelsea-voters-against-new-voke-school-funding-but-passes-district-wide/">in January 2022 we had a special election</a> to vote on whether a new regional vocational school building should be built.</p>
		</div>
		</div>    	

     	<div class="blue-box-faq">
     	<h3 class="collapsible">What is a City Manager? Why doesn't Chelsea have a mayor?</h3>
		<div class="content">
		<p>A city manager is responsible for running the day-to-day operations of the city. The city manager supervises and hires staff of city hall, carries out the policies that are set by the City Council, <a href="https://library.municode.com/ma/chelsea/codes/code_of_ordinances?nodeId=PTIICOOR_APXAADCO_PTIIIADOR_AEXDE_S2.00CIMA">and more</a>.</p>
		<p>In 1991, <a href="https://en.wikipedia.org/wiki/Government_of_Chelsea,_Massachusetts">the City of Chelsea had severe financial problems</a> due to elected officials' corruption and mismanagement. The city went into "receivership," which means the State of Massachusetts took over control. They eliminated the position of mayor. In 1995, they reorganized the city government, creating a system with an elected city council system and an appointed city manager. The City Council appoints the City Manager.</p>
		</div> 
		</div>
		 
     </div>
	</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>

    
</div>
</body>
</html>

